<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glnosg.tictactoeultimate">

    <application
        android:name="com.glnosg.TicTacToeUltimate"
        android:allowBackup="true"
        android:icon="@mipmap/ic_tictactoe"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main_menu.play_online_settings.PlayOnlineSettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".main_menu.load_game.LoadGameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main_menu.standard_game_settings.StandardGameSettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_menu.custom_game_settings.CustomGameSettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.GameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_menu.MainMenuActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.PreferencesActivity"
            android:label="@string/label_settings"
            android:parentActivityName=".main_menu.MainMenuActivity">
        </activity>
    </application>
</manifest>